button {
	background:$base-color;
	color:$accent-color;
	border:1px solid $accent-color;
	border-radius: 2px;
	padding: 0.6em 1.2em;
	cursor:pointer;
	transition:all 0.3s ease;
	&:active, &:hover {
		background-color: $base-color;
		color: $text-color;
    border-color: adjust-hue($accent-color, 45deg);
		box-shadow:0 0 0.8em adjust-hue($accent-color, 45deg);
  }
}

button[disabled] {
  color:desaturate($accent-color, 50);
  &:active, &:hover, &:focus {
		color: none;
    border-color: none;
		box-shadow: none;
		cursor: context-menu;
  }
}

.not-active {
	background-color: lighten($base-color, 7);
	border: 1px grey solid;
	color: lighten($base-color, 50);
	width: calc(50% - 1em);
}

.active-ans {
	background-color: $accent-color;
	color: $base-color;
	width: 50%;
}

.answered {
	.not-active {
		width: 50%;
	}

	.active-ans {
		width: calc(50% - 1em);
	}
}
