@import "../variables";

button {
	background:$base-color;
	color:$accent-color;
	border:1px solid $accent-color;
	border-radius: 2px;
	padding: 0.6em 1.2em;
	cursor:pointer;
	transition:all 0.3s ease;
	&:active, &:hover, &:focus {
		color: $text-color;
    border-color: adjust-hue($accent-color, 45deg);
		box-shadow:0 0 0.8em adjust-hue($accent-color, 45deg);
  }
}

button[disabled] {
  color:desaturate($accent-color, 50);
  &:active, &:hover, &:focus {
		color: none;
    border-color: none;
		box-shadow: none;
  }
}
