@import "../variables";
@import "./button";

h1 {
  font-size: var(--h2-font-size);
}

/*form----------------------------------*/
form {
  margin: 0 auto;
}
legend {
	color: $accent-color;
  font-size: var(--h3-font-size);
}

select {
	font-family: $font-family-body;
	margin: 5vh;
  margin-left: 0;
	width: 17em;
	border: none;
	border-bottom: 1px solid #bff698;
	background-color: lighten($base-color, 2);
	color: darken($text-color, 5);
  option {
  	color: darken($text-color, 30);

  }
}

@media (max-width: 701px)  {
	.loginHeader {
		justify-self: center;
	}
}
