@import "../variables";

/*extends*/
%link-transition{
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		transition: width 0.4s;
	}
	&:hover:after {
		width: 100%;
	}
}

/*nav general styles---------------*/
nav {
	font-size: var(--base-font-size);
  font-family: $font-family-body;
	border-bottom: 1px $accent-color solid;
	padding: {
		top: 1em;
		bottom: 1em;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		text-align: left;
	}
	li, li > p {
		display: inline;
		padding-right: 3em;
	}
  li > p {
    color: darken($accent-color, 35);
		white-space: nowrap;
  }
  .active {
      color:$accent-color;
  }
	a, li > button {
    @extend %link-transition;
  	&:after {
  		border-bottom: 2px solid darken($accent-color, 7);
  	}
		display: inline-block;
		text-decoration: none;
    cursor: pointer;
		color: $text-color;
	  	position: relative;
	  	&:hover {
		    color: $accent-color;
		}
	}

  li > button {
		float: right;
    border: none;
    background-color: transparent;
    font-size: var(--base-font-size);
    font-family: $font-family-body;
		padding: 0;
		margin-left: 0;
		&:active, &:hover, &:focus {
			color: $accent-color;
			border-color: none;
			box-shadow: none;
		}
  }
}


@media (max-width: 701px)  {
	header {
		justify-self: start;
	}
	nav {
		border: none;
		li {
			display:  block;
			button {
				float: left;
			}
		}
	}
}

@media (max-width: 790px) {
	nav li button {
		float: left;
		padding-right: 6vw;		
	}
}
