@import "../../variables";

img {
  margin: 2em;
  margin-left: 0;
  max-width: 100px;
  max-height: 100px;
}
.img-q {
  margin-top: 0;
}

section {
  width: 50vw;
  a {
    color: $accent-color;
    &:link,
    &:visited{
    	text-decoration: underline;
      color: lighten($accent-color, 5);
    }
    &:hover,
    &:active {
    	text-decoration: none;
      color: darken($accent-color, 7);
    }
  }
  &:not(:last-of-type) {
      border-bottom: 1px $accent-complementary-color solid;
      padding-bottom: 3em;
  }
}

.content-q {
  display: flex;
}

label {
  display: block;
  cursor: pointer;
  &:nth-of-type(1) {
    padding-top: 3vh;
  }
  &:last-of-type {
    padding-bottom: 4vh;
  }
  input[type='radio'] {
    margin-right: 1vw;
  }  
}

.poll-form {
  padding-bottom: 5vh;
}
