$base-color: rgba(245, 245, 245, 1);
$accent-color: hsl(95, 84%, 78%);
$accent-complementary-color: complement($accent-color);
$header-text-color: rgba(15, 15, 15, 1);

/*fonts*/
$font-family-header:"Playfair Display", serif;
$font-family-body:"Raleway", Arial, Helvetica, sans-serif;

/*other*/
$border: 1px solid $accent-complementary-color;
